@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.App {
  background: #F7F7FF;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

body {
  background: #F7F7FF;
}

.social-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: auto;
  height: auto;
  border-radius: 5px;
  background: #003049;
  
}

.social-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  align-items: center;
  perspective: 500px;
}

.App-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fca311;
  font-size: 40px
}

.App-header {
  font-family: 'Nosifer', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e63946;
}

.App-Nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Bungee', cursive;
  background: "#e63946"
}

.Home {
  text-decoration: none;
  color: #003049;
  transition-duration: 0.2s;
}

.Home:hover {
  font-family: 'Nosifer', cursive;
  color: #fca311;
}

.About {
  text-decoration: none;
  color: #003049;
  transition-duration: 0.2s;
}

.About:hover {
  font-family: 'Nosifer', cursive;
  color: #fca311;
}

.Create {
  text-decoration: none;
  color: #003049;
  transition-duration: 0.2s;
}

.Create:hover {
  font-family: 'Nosifer', cursive;
  color: #fca311;
}

.App-link {
  color: white;
}

.App-Sub {
  font-family: 'Nosifer', cursive;
  color: #e63946;
}
.App-sub {
  font-family: 'Nosifer', cursive;
  color: #F7F7FF;
}
.App-Para {
  font-family: 'Bungee', cursive;
  color: #003049;
}
.App-para {
  font-family: 'Bungee', cursive;
  color: #F7F7FF;
}

.Login {
  font-family: 'Bungee', cursive;
  color: #0d1321;
}

.App-Inputs {
  border-radius: 5px;
  border-style: hidden;
  font-family: 'Bungee';
}

.App-button {
  font-family: 'Bungee', cursive;
  color: #fca311;
  transition-duration: 0.4s;
}

.App-button:hover {
  font-family: 'Nosifer', cursive;
  color: #fca311;
  background: #0d1321;
  border-radius: 5px;

}